@font-face {
    font-family: "Rumi";
    src: url("../font/Rumi.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Handie";
    src: url("../font/handie.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

body {
    height: 100vh;
    background-image: radial-gradient(#374566, #010203);
    color: #ccc;
    font-family: Handie, sans-serif;
    letter-spacing: 0.15em;
    font-size: 20px;
}
canvas {
    position: absolute;
    z-index: -1;
    top: 0;
}
#wishes {
    width: 20em;
    margin: 50px auto;
    border: 1px dotted;
    text-align: center;
    background: hsla(210, 50%, 15%, 0.75);
}
span {
    display: inline-block;
}
span.jump {
    animation: jump 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s 2 alternate;
}
@keyframes jump {
    to {
        transform: translateY(-0.7em);
    }
}

#pleaseClick {
    position: absolute;
    /*background: hsla(210, 50%, 15%, 0.75);*/
    background-color: transparent;
    font-size: 80%;
    width: 10em;
    text-align: center;
    top: -5em;
    left: 8em;
    animation: jump 1s ease-in-out infinite alternate;
}
#pleaseClick span {
    font-size: 200%;
}

.control {
    text-align: center;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18em;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 3px solid #374566;
    border-radius: 50%;
    margin-top: -9px;
}

input[type="range"]::-moz-range-thumb {
    background-color: #777;
    width: 15px;
    height: 15px;
    border: 3px solid #333;
    border-radius: 50%;
}

input[type="range"]::-ms-thumb {
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #777;
    height: 3px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    outline: none;
}

input[type="range"]::-moz-range-track {
    background-color: #777;
    height: 3px;
}

input[type="range"]::-ms-track {
    background-color: #777;
    height: 3px;
}

input[type="range"]::-ms-fill-lower {
    background-color: HotPink;
}

input[type="range"]::-ms-fill-upper {
    background-color: black;
}

img.anya {
    opacity: 0.8;
    width: 40vw;
}

img.chick {
    position: absolute;
    opacity: 1;
    width: 25%;
    bottom: 0;
    left: 0;
}

div.imgcontainer {
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wishes-container {
    position: relative;
}

.mywish {
    font-family: Rumi, sans-serif;
}

.box {
    height: 150px;
    width: 400px;
}

@media (max-width: 999px) {
    .flex {
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
        /*align-items: center;*/
    }
    img.anya {
        opacity: 0.8;
        width: 70vw;
    }
}